h2 {
	font-family: 'Quicksand', sans-serif;
}

/**** MENU ****/

.navbar-brand {
    width:250px;
    height:149px;
}

.navbar-nav {
    font-size: 20px;
}

@media (max-width: 800px) {
    .navbar-brand {
        width:165px;
        height:98px;
    }
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/**** PAGE ABOUT.HTML *****/

.container-about{
	margin: 0;
	padding: 0;
}
.titre_h2_about h2{
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}
.aboutImage {
	margin-left: auto;
	margin-right: auto;
}

.line-about {
	background-color: #F2F2F2;
}

@media all and (max-width: 768px) {
	.img-about {
		padding-left: 0px !important;s
	}
}

@media all and (min-width: 768px) {
	.text-about{
		padding-top: 0px !important;
	}
}

@media (max-width: 768px) { 
	.about_spaces_cart{
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
}



/*
Scroll
*/

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	width: 64px;
	height: 25px;
	right: 30px;
	z-index: 99;
	font-size: 24px;
	border: none;
	outline: none;
	background-color: grey;
	color: white;
	cursor: pointer;
	border-radius: 0px;
	opacity: 1;
	background: url(https://bit.ly/2D5J6N6) no-repeat center center;
	border: 1px solid #343434;
  }

  #myBtn:hover {
	background-color: blue;
  }
/*
Fin Scroll
*/

/* SECTION FOOTER */

.footer_body
{
	width: 100%;
}
.footer_column
{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.footer_column1 a
{
	display: block;
}
.footer_column img
{
	width: 40px;
	margin: 0 10px 0 10px;
}
footer
{
	background: rgb(200, 200, 200);
	padding: 10px 0 10px 0;
}
.footer_marginp
{
	margin: 0;
	font-size: 12px;
	width: 100%;
}
.footer_social_opacity a
{
	opacity: 1;
	transition: 0.3s opacity ease;
}
.footer_social_opacity a:hover
{
	opacity: 0.7;
}
.footer_marginp2
{
	margin-bottom: 5px;
}
.footer2
{
	background: rgb(230, 230, 230);
	border
}
.footer_input
{
	margin: 3px;
}
@media all and (max-width: 250px)
{
	.footer_input
	{
		width: 90%;
	}
}
