h2 {
	font-family: 'Quicksand', sans-serif !important;
}

/*********** 
H E A D E R 
************/
.navbar-brand {
    width:250px;
    height:149px;
}

.navbar-nav {
    font-size: 20px;
}

@media (max-width: 800px) {
    .navbar-brand {
        width:165px;
        height:98px;
    }
}
/***************** 
F I N  H E A D E R 
******************/


/*************
C O N C E P T 
**************/
.centrer_photo {
    display: block;
    max-width: 100%;
}
/*******************
F I N  C O N C E P T 
********************/



/************* 
C O N T A C T 	
**************/
.display-none {
	display: none;
  }

.contact {
	display: block;
	width: 100%;
	margin-top: 20px;
}

.contact h2 {
	margin: 20px 0 20px;
	text-align: center;
}

.contact .input-group {
	margin-bottom: 15px;
}

.contact .input-group-lg {
	margin-bottom: 15px;
}


.contact .form-check {
	margin-bottom: 15px;
}

.contact .btn {
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	float: right;
	margin-top: 15px;
}

.img-paris {
	display: block;
	height: 546px;
	max-width: 100%;
	margin: auto;
}


@media (max-width: 766px) {
	.img-paris {
		display: none;
	}
}
/******************** 
F I N  C O N T A C T 
*********************/




/********************
F O O T E R 
*********************/
.footer_body
{
	width: 100%;
	margin: 0;
	padding: 0;

}
.footer_column
{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.footer_column1 a
{
	display: block;
}
.footer_column img
{
	width: 40px;
	margin: 0 10px 0 10px;
}
footer
{
	background: rgb(200, 200, 200);
	padding: 10px 0 10px 0;
}
.footer_marginp
{
	margin: 0;
	font-size: 12px;
	width: 100%;
}
.footer_social_opacity a
{
	opacity: 1;
	transition: 0.3s opacity ease;
}
.footer_social_opacity a:hover
{
	opacity: 0.7;
}
.footer_marginp2
{
	margin-bottom: 5px;
}
.footer2
{
	background: rgb(230, 230, 230);
}
.footer_input
{
	margin: 0px;
}
@media all and (max-width: 250px)
{
	.footer_input
	{
		width: 90%;
	}
}
/*****************
F I N  F O O T E R 
*******************/


