/**** 
H E A D E R 
****/

.navbar-brand {
	width:150px;
	height:150px;
}

@media (max-width: 574px) {
	.navbar-brand {
		width:80px;
		height:80px;
	}
}
/**** 
F I N  H E A D E R 
****/


/**** 
C O N T A C T 
****/

.contact {
	padding: 50px 0 80px;
}

.contact h2 {
	margin: 20px 0 20px;


}

.contact .input-group {
	margin-bottom: 25px;
}

.contact .input-group-lg {
	margin-bottom: 25px;
}

.contact .form-check {
	margin-bottom: 5px;
}

.contact .btn {
	border-radius: 0;
	width: 100%
	font-size: 15px;
	float: right;
}

.img-paris {
	height: 490px;
	width: 80%;
	margin-top: 50px;
	max-width: 100%;
	
}

@media (max-width: 766px) {
	.img-paris {
		display: none;
	}
}

@media (min-width: 766px) {
	.img-paris {
		height: 450px;
		width: 100%;
	}
} 


@media (min-width: 992px) {
	.img-paris {
		height: 450px;
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.img-paris {
		height: 450px;
		width: 80%;
		margin-left: 50px;
	}
}


/**** 
F I N  C O N T A C T 
****/

/****
F O O T E R 
****/

.footer_body
{
	width: 100%;
}
.footer_column
{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.footer_column1 a
{
	display: block;
}
.footer_column img
{
	width: 40px;
	margin: 0 10px 0 10px;
}
footer
{
	background: rgb(200, 200, 200);
	padding: 10px 0 10px 0;
}
.footer_marginp
{
	margin: 0;
	font-size: 12px;
	width: 100%;
}
.footer_social_opacity a
{
	opacity: 1;
	transition: 0.3s opacity ease;
}
.footer_social_opacity a:hover
{
	opacity: 0.7;
}
.footer_marginp2
{
	margin-bottom: 5px;
}
.footer2
{
	background: rgb(230, 230, 230);
	border
}
.footer_input
{
	margin: 3px;
}
@media all and (max-width: 250px)
{
	.footer_input
	{
		width: 90%;
	}
}


/****
F I N  F O O T E R 
****/


