h2 {
	font-family: 'Quicksand', sans-serif !important;
}

/*********** 
H E A D E R 
************/

/* ATTENTION, MODIFICATION DE BOOTSTRAP MEME */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* SECTION CONCEPT */

.centrer_photo {
    display: block;
    margin: auto;
    max-width: 100%
}

/*****************#### 
L O G O & M E N U 
******************/


.navbar-brand {
    width:250px;
    height:149px;
}

.navbar-nav {
    font-size: 20px;
}

@media (max-width: 800px) {
    .navbar-brand {
        width:165px;
        height:98px;
    }
}


/***************** 
F I N  H E A D E R 
******************/


/************* 
C O N T A C T 
**************/

/* SECTION CONCEPT */

.centrer_photo {
    display: block;
    margin: auto;
    max-width: 100%
}

/**** CONTACT ****/


.contact {
	padding: 50px 0 80px;
}

.contact h2 {
	margin: 20px 0 20px;


}

.contact .input-group {
	margin-bottom: 25px;
}

.contact .input-group-lg {
	margin-bottom: 25px;
}

.contact .form-check {
	margin-bottom: 5px;
}

.contact .btn {
	border-radius: 0;
	width: 100%
	font-size: 15px;
	float: right;
}

.img-paris {
	width: 100%;
	margin-top: 40px;
	max-width: 100%;
	display: flex;
	
}

@media (max-width: 766px) {
	.img-paris {
		display: none;
	}
}

@media (min-width: 1066px) {
	.img-paris {
		max-height: 500px;
		max-width: 500px;
		margin-left: 20px;
	}
}



@media (min-width: 1066px) {
	.img-paris {
		max-height: 500px;
		max-width: 500px;
		margin-left: 20px;
	}
}

@media (max-width: 1066px) {
	.img-paris {
		max-height: 500px;
		max-width: 500px;
		margin-left: 20px;
	}
}




/******************** 
F I N  C O N T A C T 
*********************/

/********************
F O O T E R 
*********************/

.footer_body
{
	width: 100%;
}
.footer_column
{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.footer_column1 a
{
	display: block;
}
.footer_column img
{
	width: 40px;
	margin: 0 10px 0 10px;
}
footer
{
	background: rgb(200, 200, 200);
	padding: 10px 0 10px 0;
}
.footer_marginp
{
	margin: 0;
	font-size: 12px;
	width: 100%;
}
.footer_social_opacity a
{
	opacity: 1;
	transition: 0.3s opacity ease;
}
.footer_social_opacity a:hover
{
	opacity: 0.7;
}
.footer_marginp2
{
	margin-bottom: 5px;
}
.footer2
{
	background: rgb(230, 230, 230);
	border
}
.footer_input
{
	margin: 3px;
}
@media all and (max-width: 250px)
{
	.footer_input
	{
		width: 90%;
	}
}


/*****************
F I N  F O O T E R 
*******************/


