/**** MENU ****/

.navbar-brand {
    width:250px;
    height:149px;
}

.navbar-nav {
    font-size: 20px;
}

@media (max-width: 800px) {
    .navbar-brand {
        width:80px;
        height:80px;
    }
}

/**** HIDE THE CLOCK ****/

@media all and (max-width: 708px) {
    .index-no-wrap-clock {
        zoom: 0.9;
        transform: scale(0.9);
    }
}

@media all and (max-width: 629px) {
    .index-no-wrap-clock {
        zoom: 0.8;
        transform: scale(0.8);
    }
}

@media all and (max-width: 563px) {
    .index-no-wrap-clock {
        zoom: 0.7;
        transform: scale(0.7);
    }
}

@media all and (max-width: 495px) {
    .index-no-wrap-clock {
        zoom: 0.6;
        transform: scale(0.6);
    }
}

@media all and (max-width: 429px) {
    .index-no-wrap-clock {
        zoom: 0.5;
        transform: scale(0.5);
    }
}

@media all and (max-width: 365px) {
    .index-compte-rebour-hideMyClock {
        display: none !important;
    }
}

/**** SHOW/HIDE TEXT AROUND THE CLOCK ****/

@media all and (max-width: 938px) {
    .index-compte-rebour-hideMyText-gauche {
        display: none;
    }
}

@media all and (max-width: 938px) {
    .index-compte-rebour-hideMyText-droite {
        display: none;
    }
}

@media all and (min-width: 938px) {
    .index-compte-rebour-showMyText {
        display: none;
    }
}

@media all and (max-width: 937px) {
    .index-compte-rebour-showMyText {
        display: inherit;
    }
}



/**** MAP ****/

.index-map-constrainMyMap {
    width: 100%;
    height: 100%;
    margin-right: 2em;
}

@media all and (max-width: 650px) {
    .index-map-constrainMyMap {
        display: none;
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width: 990px) {
    .index-map-constrainMyMap {
        margin-right: 0px;
        width: 100%;
        height: 100%;
        min-height: 400px;
    }
}

@media all and (min-width: 649px) {
    .index-map-showMyMap {
        display: none;
        height: 100%;
        width: 100%;
    }
}

@media all and (max-width: 650px) {
    .index-map-showMyMap {
        min-height: 400px;
        height: 100%;
        width: 100%;
        display: inherit;
    }
}

@media all and (max-width: 430px) {
    .index-bouton-voir-indices {
        padding-left: 0rem!important;
    }
}



/* ATTENTION, MODIFICATION DE BOOTSTRAP MEME */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}


/* SECTION WINNER */

.winner_section{
	text-align: center;
}

.winner_section h2 {
	text-align: center;
}

.winner-citation {
    padding-right: 1em;
}

.winner_signature{
	text-align: right;
	color: blue;
}

@media all and (max-width: 767px) {
.winner_photo {
    max-width: 60%;
    }
}

.winner-box-soumettre {
    padding-right: 2em !important;
    padding-left: 2em !important;
}

.winner_soumettre{
	border: 5px solid black;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
}

@media all and (max-width: 979px) {
    .winner-bouton {
        display: none;
    }
}

@media all and (min-width: 979px) {
    .winner-bouton-2 {
        display: none;
        }
    }


/* SECTION FOOTER */

.footer_body
{
	width: 100%;
}
.footer_column
{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
.footer_column1 a
{
	display: block;
}
.footer_column img
{
	width: 40px;
	margin: 0 10px 0 10px;
}
footer
{
	background: rgb(200, 200, 200);
	padding: 10px 0 10px 0;
}
.footer_marginp
{
	margin: 0;
	font-size: 12px;
	width: 100%;
}
.footer_social_opacity a
{
	opacity: 1;
	transition: 0.3s opacity ease;
}
.footer_social_opacity a:hover
{
	opacity: 0.7;
}
.footer_marginp2
{
	margin-bottom: 5px;
}
.footer2
{
	background: rgb(230, 230, 230);
	border
}
.footer_input
{
	margin: 3px;
}
@media all and (max-width: 250px)
{
	.footer_input
	{
		width: 90%;
	}
}